extends _layout/layout
//- Các giá trị mặc định cho trang web
block variables
	- var title = ''
	- var description = 'Description for home page'
	- var bodyclass = 'home'
//- Phần khai báo body
block body
	//- Bạn viết code vào đây nhớ là phải mở đầu bằng section ở mỗi khối
	section.murmur
		.container
			.row
				.col-md-5
					.text
						h2 #1 COSMETICS PRODUCER BRAND
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore nam saepe a consequuntur at, voluptas commodi repellat inventore.
						a.btn.btn-more.btn-lg(href="#") Browse Products
				.col-md-7
					figure
						img.img-fluid(src="img/dahuong.png", alt="")
	section.murmur-mid
		.container
			.row
				.col-sm.col-md-4
					figure
						img.img-fluid(src="img/dahuong.png", alt="")
				.col-sm.col-md-5.center
					h3 GETTING
						br 
						| EXTRAORDINARY.
					P.box1 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt consectetur, molestias ullam voluptas error voluptates? Expedita magnam numquam eius ipsam ex et, quas corrupti sint eligendi? Dolorum aspernatur aliquam eaque.
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium odio consectetur cumque deleniti.
					button.btn.btn-info(type='button') Browse Product
				.col-sm.col-md-3
					h5 WEIGHT
						.item
							P 136GR
					h5 PRICE
						.item
							P $276
								strike $876
								span -83%
					h5 COLOR
						.item
							P Gray
					h5 INCLUDES
						.item
							P 1x LG Emultion, 1x SM Solution
					
	section.murmur-mid-2
		.container
			.row
				.col-sm.col-md-5
					h5 BRAND AESTTHETICS 
						br
						| & INSPRIRATIONS
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque aliquam nemo modi eos quo, quia temporibus possimus? Molestias consectetur natus illum necessitatibus maxime tempora eum. Placeat pariatur dicta corrupti libero.
					p Lorem, ipsum dolor sit amet consectetur adipisicing elit.
					button.btn.btn-info(type='button') Know Move
				.col-sm.col-md-7
					.item
						figure
							.item1
								img.img-fluid.img-2(src="img/MURMUR.png", alt="")
							figcaption
								p
