extends _layout/layout
//- Các giá trị mặc định cho trang web
block variables
	- var title = ''
	- var description = 'Description for home page'
	- var bodyclass = 'home'
//- Phần khai báo body
block body
	//- Bạn viết code vào đây nhớ là phải mở đầu bằng section ở mỗi khối
	section.murmur
		.container
			.row
				.col-md-5
					.text
						h2 #1 COSMETICS PRODUCER BRAND
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore nam saepe a consequuntur at, voluptas commodi repellat inventore.
						a.btn.btn-more.btn-lg(href="#") Browse Products
				.col-md-7
					figure
						img.img-fluid(src="img/MURMUR.png", alt="")
	section.products
		.container-fluid
			.row.no-gutters
				.col-md-6.left
					.text
						h2 FERFUMES
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia quo adipisci maiores modi nostrum. elit. Quia quo adipisci maiores modi nostrum.
						a.btn.btn-more.btn-lg(href="#") Browse Products
					figure
						a(href="#")
							img.img-fluid(src="img/tinhdautron.png", alt="")

				.col-md-6.right
					figure
						img.img-fluid(src="img/combodautron.png", alt="")
	section.about
		.container-fluid
			.row.no-gutters
				.col-md-6
					.text
						h2 BEST FREGRANCES
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore laboriosam consectetur tenetur, totam accusantium pariatur optio architecto quae id.
						p.a Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore laboriosam consectetur tenetur, totam accusantium pariatur optio architecto quae id.
						a.btn.btn-more.btn-lg(href="#") Browse Products
				.col-md-6
					.video
						iframe.img-fluid(src="https://www.youtube.com/embed/Eb8fj-jstNo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen="")
