extends _layout/layout
//- Các giá trị mặc định cho trang web
block variables
	- var title = ''
	- var description = 'Description for home page'
	- var bodyclass = 'home'
//- Phần khai báo body
block body
	//- Bạn viết code vào đây nhớ là phải mở đầu bằng section ở mỗi khối
	section.murmur
		.container
			.row
				.col-md-5
					.text
						h2 #1 COSMETICS PRODUCER BRAND
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore nam saepe a consequuntur at, voluptas commodi repellat inventore.
						a.btn.btn-more.btn-lg(href="#") Browse Products
				.col-md-7
					figure
						img.img-fluid(src="img/MURMUR.png", alt="")
