//Mobile
.murmur
	position: relative
	background: #96aaa1
	min-height: 600px
	display: flex
	justify-content: center
	text-align: left
	align-items: center
	+pad(10rem null null)
	.text
		text-align: center
		color: #fff
		h2
			+fz(1.5rem)
			letter-spacing: 8px
		p
			+pad(1rem null null)
		a
			+mar(null null 2rem)
			color: #fff
			background: #96aaa1
			border: 1px solid #fff
			border-radius: 0
		figure
			img
				width: 100%
//Tablet
+media-breakpoint-up(md)
	.murmur
		min-height: 0
		.text
			text-align: left
			h2
				+fz(1.5rem)
				letter-spacing: 6px
			p
				+pad(1rem null null)
			a
				&:hover
					background: darken(#96aaa1, 10%)
		figure
			img
				position: absolute
				bottom: -4rem
				right: 0
//PC
+media-breakpoint-up(lg)
	.murmur
		min-height: 600px
		+pad(7rem null null)
		.text
			h2
				+fz(2rem)
				letter-spacing: 8px
			p
				+pad(1rem null null)
			a
				+mar(2rem null null)
				&:hover
					background: darken(#96aaa1, 10%)
		figure
			img
				position: absolute
				bottom: -12rem
				right: 0
.murmur			
	+media-breakpoint-up(xl)
		.text
			h2
				+fz(2.5rem)
				letter-spacing: 8px
			p
				+pad(1rem null null)
			a
				+mar(2rem null null)
				&:hover
					background: darken(#96aaa1, 10%)
		figure
			img
				position: absolute
				bottom: -14rem
.murmur-mid
	margin-top: 5rem
	margin-bottom: 5rem
	+media-breakpoint-up(lg)
		margin-bottom: 10rem
	.row
		justify-content: center
		align-items: center
		text-align: center
	.btn-info
		background-color: rgb(150, 170, 161)
		border-color: rgb(150, 170, 161)
		margin: 1rem
		padding: 1rem 2rem
		&:active
		&:focus
			background-color: rgb(150, 170, 161) !important
			border-color: rgb(150, 170, 161) !important
			box-shadow: 0 0 0 0.2rem rgb(150, 170, 161) !important
	.col-md-3
		h5
			color: rgba(150, 150, 150, 0.6588235294117647)
			.item
				margin-top: 1rem
				strike
					padding-left: .5rem
					padding-right: .5rem
					color: rgb(255, 0, 0)
				span
					padding: 3px
					background: rgb(150, 170, 161)
					color: #fff
	+media-breakpoint-up(sm)
		.center
			text-align: left
			p
				overflow: hidden
				max-height: 4.2rem
			.btn-info
				margin: 0
		.col-md-3
			text-align: left
			h5
				font-size: 1rem
	+media-breakpoint-up(md)
		.center
			h3
				letter-spacing: 2px
			.box1
				margin-top: 2rem
				margin-bottom: 2rem
			.btn-info
				&:hover
					background: rgb(88, 110, 100)
					transition: all ease-in-out .3s
		h5
			padding-bottom: .8rem
			padding-bottom: .8rem
	+media-breakpoint-up(lg)
		.center
			h3
				font-size: 3rem
.murmur-mid-2
	margin-bottom: 5rem
	+media-breakpoint-up(lg)
		margin-bottom: 10rem
		margin-left: 5rem
	.row
		justify-content: center
		align-items: center
		text-align: center
		.btn-info
			background-color: rgb(150, 170, 161)
			border-color: rgb(150, 170, 161)
			margin: 1rem
			padding: 1rem 2rem
			&:active
			&:focus
				background-color: rgb(150, 170, 161) !important
				border-color: rgb(150, 170, 161) !important
				box-shadow: 0 0 0 0.2rem rgb(150, 170, 161) !important
		p
			margin-bottom: 0rem
	.col-sm
		figure
			.img-2
				box-shadow: 0 0 0 3px rgb(150, 170, 161)
	+media-breakpoint-up(md)
		.col-md-5
			text-align: left
			h5
				font-size: 1.5rem	
			p
				margin-top: 1rem
				margin-bottom: 1rem
			.btn-info
				margin: 0
		.col-md-7
			figure
				.item1
					.img-2
						position: relative
						width: 75%
						box-shadow: none
						z-index: 1
					&:before
						display: block
						content: ""
						border: 9px solid rgb(150, 170, 161)
						width: 225px
						height: 298px
						+pos(abs, -43px null null 17px)
						z-index: -1
	+media-breakpoint-up(lg)
		.col-md-5
				h5
					font-size: 2rem
		.col-md-7
			figure
				.item1
					.img-2
					&:before
						width: 296px
						height: 366px
	+media-breakpoint-up(xl)
		.col-md-5
			h5
				font-size: 3rem
				letter-spacing: 1px
		.col-md-5
			.btn-info
				&:hover
					background: rgb(88, 110, 100)
					transition: all ease-in-out .3s
		.col-md-7
			figure
				.item1
					.img-2
					&:before
						width: 370px
						height: 428px
						+pos(abs, -43px null null 40px)
					
