//Mobile
.murmur
	position: relative
	background: #96aaa1
	min-height: 600px
	display: flex
	justify-content: center
	text-align: left
	align-items: center
	+pad(10rem null null)
	z-index: 99
	.text
		text-align: center
		color: #fff
		h2
			+fz(1.5rem)
			letter-spacing: 8px
		p
			+pad(1rem null null)
			color: #fff
		a
			+mar(null null 2rem)
			color: #fff
			background: #96aaa1
			border: 1px solid #fff
			border-radius: 0
		figure
			img
				width: 100%
.murmur-mid
	margin-top: 5rem
	margin-bottom: 5rem
	.row
		justify-content: center
		align-items: center
		text-align: center
		.text
			h3
				letter-spacing: 5px
	a
		.btn-info
			border-radius: 0
			background-color: rgb(150, 170, 161)
			border-color: rgb(150, 170, 161)
			margin: 1rem
			padding: 1rem 2rem
			&:active
			&:focus
				background-color: rgb(150, 170, 161) !important
				border-color: rgb(150, 170, 161) !important
				box-shadow: 0 0 0 0.2rem rgb(150, 170, 161) !important
	.col-md-3
		h5
			color: rgba(150, 150, 150, 0.6588235294117647)
			.item
				margin-top: 1rem
				strike
					padding-left: .5rem
					padding-right: .5rem
					color: rgb(255, 0, 0)
				span
					padding: 3px
					background: rgb(150, 170, 161)
					color: #fff
.murmur-mid-2
	margin-bottom: 5rem
	.row
		justify-content: center
		align-items: center
		text-align: center
		.text2
			h5
				+fz(2rem)
				letter-spacing: 5px
		a
			.btn-info
				border-radius: 0
				background-color: rgb(150, 170, 161)
				border-color: rgb(150, 170, 161)
				margin: 1rem
				padding: 1rem 2rem
				&:active
				&:focus
					background-color: rgb(150, 170, 161) !important
					border-color: rgb(150, 170, 161) !important
					box-shadow: 0 0 0 0.2rem rgb(150, 170, 161) !important
		p
			margin-bottom: 0rem
	.col-sm
		figure
			.img-2
				box-shadow: 0 0 0 3px rgb(150, 170, 161)
.products
	position: relative
	display: flex
	justify-content: center
	text-align: center
	align-items: center
	z-index: 9
	.container-fluid
		+pad(null 0 null 0)
	.left
		background: #b2989b
		min-height: 400px
		.text
			z-index: 2
			position: absolute
			bottom: 0%
			left: 10%
			height: 75%
			width: 80%
			margin: auto
			content: ''
			background: #a07d83
			z-index: 1
			box-shadow: 16px 20px 69px 0px black
			opacity: .95
			color: #fff
			+pad(4rem 2rem null)
			h2
				letter-spacing: 8px
			p
				color: #dad0cf
			a
				color: #fff
				+mar(1rem)
				border: 1px solid #fff
		figure
			img
				position: absolute
				bottom: 0rem
				transform: translateX(-50%)
	.right
		background: #98a4b0
		min-height: 400px
		figure
			img
				+pad(3rem 2rem null)
				bottom: 5rem
				position: absolute
				transform: translateX(-50%)
.about
	position: relative
	background: #fff
	min-height: 680px
	display: flex
	justify-content: center
	text-align: left
	// align-items: center
	.container-fluid
		+pad(null 0)
	.text
		+pad(3rem 2rem null)
		+fw(bold)
		text-align: center
		h2
			letter-spacing: 8px
		p
			color: #5b5b5b
		a
			color: #749584
			border: 2px solid #749584
			border-radius: 0
	.video
		display: flex
		justify-content: center
		bottom: 0
		iframe
			+pad(3rem null)
			height: 300px
			width: 350px
+media-breakpoint-up(sm)
	.murmur-mid
		.center
			text-align: left
			p
				overflow: hidden
				max-height: 4.2rem
			.btn-info
				margin: 0
		.col-md-3
			text-align: left
			h5
				font-size: 1rem
	.about
		.text
			+pad(8rem 2rem null)
		.video
			iframe
				height: 400px
				width: 450px
//Tablet
+media-breakpoint-up(md)
	.murmur
		min-height: 0
		.text
			text-align: left
			h2
				+fz(1.5rem)
				letter-spacing: 6px
			p
				+pad(1rem null null)
			a
				&:hover
					background: darken(#96aaa1, 10%)
					transition: .5s all ease-in-out
		figure
			img
				position: absolute
				bottom: -4rem
				right: 0
	.murmur-mid
		.row
			.text
				h3
					letter-spacing: 8px
		.center	
			h3
				letter-spacing: 2px
			.box1
				margin-top: 2rem
				margin-bottom: 2rem
			.btn-info
				&:hover
					background: rgb(88, 110, 100)
					transition: all ease-in-out .3s
		h5
			padding-bottom: .8rem
			padding-bottom: .8rem
	.murmur-mid-2
		.row
			.text2
				text-align: left
				h5
					+fz(2.5rem)
					letter-spacing: 8px
				p
					margin-top: 1rem
					margin-bottom: 1rem
				.btn-info
					margin: 0
		.col-md-7
			figure
				.item1
					.img-2
						position: relative
						width: 75%
						box-shadow: none
						z-index: 1
					&:before
						display: block
						content: ""
						border: 9px solid rgb(150, 170, 161)
						width: 225px
						height: 298px
						+pos(abs, -43px null null 17px)
						z-index: -1
	.products
		.left
			.text
				a
					border: none
					+mar(2rem)
					&:hover
						transition: .5s all ease-in-out
						background: darken(#a07d83, 10%)
			figure
				img
					bottom: -2rem
		.right
			figure
				img
					bottom: -2rem
					height: 70%
	.about
		min-height: 480px
		align-items: center
		.text
			width: 600px	
			text-align: left
			word-wrap: break-word
			p
				word-break: break-all
				+pad(1rem null null)
			a
				+mar(1rem null)
				&:hover
					background: lighten(#749584, 40%)
		.video
			iframe
				height: 550px
				width: 100%
			
//PC
+media-breakpoint-up(lg)
	.murmur
		min-height: 600px
		+pad(7rem null null)
		.text
			h2
				+fz(2rem)
				letter-spacing: 8px
			p
				+pad(1rem null null)
			a
				+mar(2rem null null)
				&:hover
					background: darken(#96aaa1, 10%)
		figure
			img
				position: absolute
				bottom: -12rem
				right: 0
	.murmur-mid
		margin-bottom: 10rem
		.center
			h3
				font-size: 2.5rem
	.murmur-mid-2
		margin-bottom: 10rem
		margin-left: 5rem
		.col-md-5
				h5
					font-size: 2rem
		.col-md-7
			figure
				.item1
					.img-2
					&:before
						width: 296px
						height: 366px
	.products
		.left
			figure
				img
					bottom: -4rem
		.right
			figure
				img
					height: auto
	.about
		min-height: 680px
		.text
			padding-left: 10rem
			h2
				+fz(2.5rem)
+media-breakpoint-up(xl)
	.murmur	
		.text
			h2
				+fz(2.5rem)
				letter-spacing: 8px
			p
				+pad(1rem null null)
			a
				+mar(2rem null null)
				&:hover
					background: darken(#96aaa1, 10%)
		figure
			img
				position: absolute
				bottom: -14rem
	.murmur-mid-2
		.col-md-5
			h5
				font-size: 2.5rem
				letter-spacing: 1px
		.col-md-5
			.btn-info
				&:hover
					background: rgb(88, 110, 100)
					transition: all ease-in-out .3s
		.col-md-7
			figure
				.item1
					.img-2
					&:before
						width: 370px
						height: 428px
						+pos(abs, -43px null null 40px)
	.products
		.left
			.text
				left: 15%	
				width: 70%
